1. Create a function that takes a base number and an exponent number and returns the calculation.

Examples
calculate_exponent(5, 5) ➞ 3125

calculate_exponent(10, 10) ➞ 10000000000

calculate_exponent(3, 3) ➞ 27

In [2]:
def calculate_exponent(base, exponent):
    result = 1
    for _ in range(exponent):
        result *= base
    return result


print(calculate_exponent(5, 5))   
print(calculate_exponent(10, 10)) 
print(calculate_exponent(3, 3))

3125
10000000000
27

2.create a function that takes a string and returns it as an integer.

Examples
string_int("6") ➞ 6

string_int("1000") ➞ 1000

string_int("12") ➞ 12

In [4]:
def string_int(s):
    result = 0
    for char in s:
        digit = ord(char) - ord('0')  # Convert character to its corresponding integer value
        result = result * 10 + digit
    return result


print(string_int("6"))    
print(string_int("1000")) 
print(string_int("12"))

6
1000
12

3.Create a function that takes the age in years and returns the age in days.

Examples
calc_age(65) ➞ 23725

calc_age(0) ➞ 0

calc_age(20) ➞ 7300

In [5]:
def calc_age(age_years):
    age_days = 0
    for year in range(1, age_years + 1):
        age_days += 365
    return age_days

print(calc_age(65))  
print(calc_age(0))   
print(calc_age(20))

23725
0
7300

4.Create a function that takes a number as an argument, increments the number by +1 and returns the result.

Examples
addition(0) ➞ 1

addition(9) ➞ 10

addition(-3) ➞ -2

In [7]:
def addition(num):
    # If num is negative, decrement it instead of incrementing
    sign = 1 if num >= 0 else -1
    num = abs(num)  # Convert num to its absolute value
    
    # Loop to add 1 to num
    for _ in range(1):
        num += 1
    
    return num * sign  # Restore the original sign

print(addition(0))  
print(addition(9))  
print(addition(-3)) 
def addition(num):
    return num + 1


print(addition(0))  
print(addition(9))  
print(addition(-3))

1
10
-4
1
10
-2

5.Write a function that takes an integer minutes and converts it to seconds.

Examples
convert(5) ➞ 300

convert(3) ➞ 180

convert(2) ➞ 120

In [8]:

def convert(minutes):
    seconds = 0
    for _ in range(minutes):
        seconds += 60
    return seconds


print(convert(5)) 
print(convert(3)) 
print(convert(2))

300
180
120

6.There is a single operator in Python, capable of providing the remainder of a division operation. Two numbers are passed as parameters. The first parameter divided by the second parameter will have a remainder, possibly zero. Return that value.

Examples
remainder(1, 3) ➞ 1

remainder(3, 4) ➞ 3

remainder(5, 5) ➞ 0

remainder(7, 2) ➞ 1

In [22]:
def remainder(num1, num2):
    while num1 >= num2:
        num1 -= num2
    return num1


print(remainder(1, 3))
print(remainder(3, 4))
print(remainder(5, 5))
print(remainder(7, 2))

1
3
0
1

7.Create a function that takes the age in years and returns the age in days.

Examples
calc_age(65) ➞ 23725

calc_age(0) ➞ 0

calc_age(20) ➞ 7300

In [9]:
def calc_age(age_years):
    age_days = 0
    for year in range(age_years):
        age_days += 365
    return age_days

print(calc_age(65))
print(calc_age(0))  
print(calc_age(20))

23725
0
7300

8.Fix the code in the code tab to pass this challenge (only syntax errors). Look at the examples below to get an idea of what the function should do.

Examples
cubes(3) ➞ 27

cubes(5) ➞ 125

cubes(10) ➞ 1000

In [10]:
def cubes(num):
    result = 1
    for _ in range(3):
        result *= num
    return result

print(cubes(3)) 
print(cubes(5))  
print(cubes(10))

27
125
1000

Create a function that finds the maximum range of a triangle's third edge, where the side lengths are all integers.

Examples

next_edge(8, 10) ➞ 17

next_edge(5, 7) ➞ 11

next_edge(9, 2) ➞ 10

In [11]:
def next_edge(side1, side2):
    max_range = 0
    for i in range(1, side1 + side2):
        if side1 + side2 > i and side1 + i > side2 and side2 + i > side1:
            max_range = max(max_range, i)
    return max_range

print(next_edge(8, 10))
print(next_edge(5, 7))  
print(next_edge(9, 2))

17
11
10

9.Write a function that converts hours into seconds.

Examples

how_many_seconds(2) ➞ 7200

how_many_seconds(10) ➞ 36000

how_many_seconds(24) ➞ 86400

In [12]:
def how_many_seconds(hours):
    seconds = 0
    for _ in range(hours):
        seconds += 3600
    return seconds


print(how_many_seconds(2)) 
print(how_many_seconds(10)) 
print(how_many_seconds(24))

7200
36000
86400

10.Create a function that takes two numbers as arguments and returns their sum.

Examples
addition(3, 2) ➞ 5

addition(-3, -6) ➞ -9

addition(7, 3) ➞ 10

In [13]:
def addition(num1, num2):
    result = num1
    for _ in range(abs(num2)):
        if num2 > 0:
            result += 1
        else:
            result -= 1
    return result


print(addition(3, 2))  
print(addition(-3, -6))
print(addition(7, 3))

5
-9
10

11.Write a function that takes the base and height of a triangle and return its area.

Examples

tri_area(3, 2) ➞ 3

tri_area(7, 4) ➞ 14

tri_area(10, 10) ➞ 50

In [14]:
def tri_area(base, height):
    area = 0
    for _ in range(height):
        area += base
    return area // 2


print(tri_area(3, 2)) 
print(tri_area(7, 4))  
print(tri_area(10, 10))

3
14
50

12.Write a function that takes an integer minutes and converts it to seconds.

Examples

convert(5) ➞ 300

convert(3) ➞ 180

convert(2) ➞ 120

In [15]:
def convert(minutes):
    seconds = 0
    for _ in range(minutes):
        seconds += 60
    return seconds


print(convert(5))
print(convert(3)) 
print(convert(2))

300
180
120

13.Create a function that takes length and width and finds the perimeter of a rectangle.

Examples

find_perimeter(6, 7) ➞ 26

find_perimeter(20, 10) ➞ 60

find_perimeter(2, 9) ➞ 22

In [16]:
def find_perimeter(length, width):
    perimeter = 0
    for _ in range(2):
        perimeter += length + width
    return perimeter


print(find_perimeter(6, 7))   
print(find_perimeter(20, 10)) 
print(find_perimeter(2, 9))

26
60
22

14.Create a function that takes voltage and current and returns the calculated power.

Examples
circuit_power(230, 10) ➞ 2300

circuit_power(110, 3) ➞ 330

circuit_power(480, 20) ➞ 9600

In [17]:
def circuit_power(voltage, current):
    power = 0
    for _ in range(current):
        power += voltage
    return power

print(circuit_power(230, 10)) 
print(circuit_power(110, 3))  
print(circuit_power(480, 20))

2300
330
9600

15.Write a function that takes the base and height of a triangle and return its area.

Examples

tri_area(3, 2) ➞ 3

tri_area(7, 4) ➞ 14

tri_area(10, 10) ➞ 50

In [18]:
def tri_area(base, height):
    area = 0
    for _ in range(height):
        area += base
    return area // 2


print(tri_area(3, 2))   
print(tri_area(7, 4))  
print(tri_area(10, 10))

3
14
50

16.Create a function that takes a list of numbers. Return the largest number in the list.

Examples

findLargestNum([4, 5, 1, 3]) ➞ 5

findLargestNum([300, 200, 600, 150]) ➞ 600

findLargestNum([1000, 1001, 857, 1]) ➞ 1001

In [19]:
def findLargestNum(nums):
    largest_num = float('-inf')  # Initialize with negative infinity
    for num in nums:
        if num > largest_num:
            largest_num = num
    return largest_num


print(findLargestNum([4, 5, 1, 3]))         
print(findLargestNum([300, 200, 600, 150]))  
print(findLargestNum([1000, 1001, 857, 1]))

5
600
1001

17.Create a function that takes a list of numbers and returns the smallest number in the list.

Examples

find_smallest_num([34, 15, 88, 2]) ➞ 2

find_smallest_num([34, -345, -1, 100]) ➞ -345

find_smallest_num([-76, 1.345, 1, 0]) ➞ -76

find_smallest_num([0.4356, 0.8795, 0.5435, -0.9999]) ➞ -0.9999

find_smallest_num([7, 7, 7]) ➞ 7

In [20]:
def find_smallest_num(nums):
    smallest_num = float('inf')  # Initialize with positive infinity
    for num in nums:
        if num < smallest_num:
            smallest_num = num
    return smallest_num


print(find_smallest_num([34, 15, 88, 2]))            
print(find_smallest_num([34, -345, -1, 100]))         
print(find_smallest_num([-76, 1.345, 1, 0]))        
print(find_smallest_num([0.4356, 0.8795, 0.5435, -0.9999]))  
print(find_smallest_num([7, 7, 7]))

2
-345
-76
-0.9999
7

 18.Create a function that takes a list and returns the difference between the biggest and smallest numbers.

Examples
difference_max_min([10, 4, 1, 4, -10, -50, 32, 21]) ➞ 82
 smallest number is -50, biggest is 32.

difference_max_min([44, 32, 86, 19]) ➞ 67
Smallest number is 19, biggest is 86.18.

In [21]:
def difference_max_min(nums):
    smallest_num = float('inf')  # Initialize with positive infinity
    largest_num = float('-inf')  # Initialize with negative infinity
    
    for num in nums:
        if num < smallest_num:
            smallest_num = num
        if num > largest_num:
            largest_num = num
    
    return largest_num - smallest_num


print(difference_max_min([10, 4, 1, 4, -10, -50, 32, 21]))  
print(difference_max_min([44, 32, 86, 19]))

82
67

 19 .Create a function that takes a list and returns the sum of all numbers in the list.

Examples
get_sum_of_elements([2, 7, 4]) ➞ 13

get_sum_of_elements([45, 3, 0]) ➞ 48

get_sum_of_elements([-2, 84, 23]) ➞ 105

In [22]:
def get_sum_of_elements(nums):
    total_sum = 0
    for num in nums:
        total_sum += num
    return total_sum


print(get_sum_of_elements([2, 7, 4]))    
print(get_sum_of_elements([45, 3, 0]))   
print(get_sum_of_elements([-2, 84, 23]))

13
48
105

20. Create a function that takes a number (from 1 - 60) and returns a corresponding string of hyphens.

Examples
num_to_dashes(1) ➞ "-"

num_to_dashes(5) ➞ "-----"

num_to_dashes(3) ➞ "---"

In [23]:
def num_to_dashes(num):
    dashes = ""
    for _ in range(num):
        dashes += "-"
    return dashes


print(num_to_dashes(1))
print(num_to_dashes(5))
print(num_to_dashes(3))

-
-----
---

21. Write a function that takes an integer and returns a string with the given number of "a"s in Edabit.

Examples

how_many_times(5) ➞ "Edaaaaabit"

how_many_times(0) ➞ "Edbit"

how_many_times(12) ➞ "Edaaaaaaaaaaaabit"

In [24]:
def how_many_times(num):
    result = "Ed"
    for _ in range(num):
        result += "a"
    result += "bit"
    return result


print(how_many_times(5))
print(how_many_times(0)) 
print(how_many_times(12))

Edaaaaabit
Edbit
Edaaaaaaaaaaaabit

22. Create a function that returns True if all parameters are truthy, and False otherwise.

Examples

all_truthy(True, True, True) ➞ True

all_truthy(True, False, True) ➞ False

all_truthy(5, 4, 3, 2, 1, 0) ➞ False

In [25]:
def all_truthy(*args):
    for arg in args:
        if not arg:
            return False
    return True


print(all_truthy(True, True, True))  
print(all_truthy(True, False, True))  
print(all_truthy(5, 4, 3, 2, 1, 0))

True
False
False

23. Mubashir created an infinite loop! Help him by fixing the code in the code tab to pass this challenge. Look at the examples below to get an idea of what the function should do.
print_list(1) ➞ [1]

print_list(3) ➞ [1, 2, 3]

print_list(6) ➞ [1, 2, 3, 4, 5, 6]

In [26]:
def print_list(num):
    result = []
    for i in range(1, num + 1):
        result.append(i)
    return result


print(print_list(1))
print(print_list(3))
print(print_list(6))

[1]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]

 24.reate a function that returns the last value of the last item in a list or string.

Examples
last_ind([0, 4, 19, 34, 50, -9, 2])

last_ind("The quick brown fox jumped over the lazy dog") 

last_ind([])

In [27]:
def last_ind(data):
    if isinstance(data, list):
        for item in data[::-1]:
            if isinstance(item, (list, str)):
                return item[-1]
            return item
    elif isinstance(data, str):
        words = data.split()
        for word in words[::-1]:
            return word[-1]
    return None

print(last_ind([0, 4, 19, 34, 50, -9, 2]))
print(last_ind("The quick brown fox jumped over the lazy dog")) 
print(last_ind([]))

2
g
None

 25 .You can assign variables from lists like this:

first, _ , last = [1, 2, 8]

first   = lst[0]

_   = ignores second value (2)

last   = lst[-1]

print(first) ➞ outputs 1

In [28]:
def get_first(lst):
    return lst[0]


print(get_first([1, 2, 8]))

1

26.  Scientists have discovered that in four decades, the world will EXPLODE! It will also take three decades to make a spaceship to travel to a new planet that can hold the entire world population.

You must calculate the number of people there will be in three decades from now.

The variable P is the world population now.
Assume that every month, someone gives birth to more people nP.
Return the number of people there will be when the spaceship is complete.

Examples
future_people(256, 2) ➞ 976

future_people(3248, 6) ➞ 5408

future_people(5240, 3) ➞ 6320

In [29]:
def future_people(P, nP):
    for _ in range(360):  # 30 years (30 years * 12 months = 360 months)
        P += nP
    return P


print(future_people(256, 2))  
print(future_people(3248, 6))  
print(future_people(5240, 3))

976
5408
6320

27. Create a function that returns the last value of the last item in a list or string.

Examples
last_ind([0, 4, 19, 34, 50, -9, 2]) ➞ 2

last_ind("The quick brown fox jumped over the lazy dog") ➞ "g"

last_ind([]) ➞ None

In [30]:
def last_ind(data):
    if isinstance(data, list):
        if len(data) > 0:
            return data[-1]
    elif isinstance(data, str):
        if len(data) > 0:
            return data[-1]
    return None


print(last_ind([0, 4, 19, 34, 50, -9, 2])) 
print(last_ind("The quick brown fox jumped over the lazy dog"))  
print(last_ind([]))

2
g
None

28. You can assign variables from lists like this:

first, _ , last = [1, 2, 8]

first   = lst[0]

_   = ignores second value (2)

last   = lst[-1]

print(first) ➞ outputs 1
print(last) ➞ outputs 8

In [31]:
def assign_first_last(lst):
    first = lst[0]
    last = lst[-1]
    return first, last


result_first, result_last = assign_first_last([1, 2, 8])
print(result_first)  
print(result_last)

1
8

29.   Scientists have discovered that in four decades, the world will EXPLODE! It will also take three decades to make a spaceship to travel to a new planet that can hold the entire world population.

You must calculate the number of people there will be in three decades from now.

The variable P is the world population now.
Assume that every month, someone gives birth to more people nP.
Return the number of people there will be when the spaceship is complete.

Examples

future_people(256, 2) ➞ 976

future_people(3248, 6) ➞ 5408

future_people(5240, 3) ➞ 6320

In [32]:
def future_people(P, nP):
    for _ in range(360):  # 30 years (30 years * 12 months = 360 months)
        P += nP
    return P


print(future_people(256, 2)) 
print(future_people(3248, 6)) 
print(future_people(5240, 3))

976
5408
6320

 30. Create a function that returns a number, based on the string provided. Here is a list of all digits:

String	Number

"one"	1
"two"	2
"three"	3
"four"	4
"five"	5
"six"	6
"seven"	7
"eight"	8
"nine"	9
"zero"	0
Examples

word("one") ➞ 1

word("two") ➞ 2

word("nine") ➞ 9

In [33]:
def word(s):
    word_to_number = {
        "one": 1,
        "two": 2,
        "three": 3,
        "four": 4,
        "five": 5,
        "six": 6,
        "seven": 7,
        "eight": 8,
        "nine": 9,
        "zero": 0
    }

    return word_to_number.get(s, None)


print(word("one"))   
print(word("two"))  
print(word("nine"))  
print(word("ten"))

1
2
9
None

31  create a function that takes two strings as arguments and returns the number of times the first string (the single character) is found in the second string.

Examples

char_count("a", "edabit") ➞ 1

char_count("c", "Chamber of secrets") ➞ 1

char_count("b", "big fat bubble") ➞ 4

In [34]:
def char_count(char, text):
    count = 0
    for ch in text:
        if ch == char:
            count += 1
    return count


print(char_count("a", "edabit"))              
print(char_count("c", "Chamber of secrets"))  
print(char_count("b", "big fat bubble"))

1
1
4

32.  Create a function that takes a list and a string as arguments and returns the index of the string.

Examples
find_index(["hi", "edabit", "fgh", "abc"], "fgh") ➞ 2

find_index(["Red", "blue", "Blue", "Green"], "blue") ➞ 1

find_index(["a", "g", "y", "d"], "d") ➞ 3

find_index(["Pineapple", "Orange", "Grape", "Apple"], "Pineapple") ➞ 0

In [35]:
def find_index(lst, target):
    for i, item in enumerate(lst):
        if item == target:
            return i
    return None


print(find_index(["hi", "edabit", "fgh", "abc"], "fgh"))    
print(find_index(["Red", "blue", "Blue", "Green"], "blue"))  
print(find_index(["a", "g", "y", "d"], "d"))                
print(find_index(["Pineapple", "Orange", "Grape", "Apple"], "Pineapple"))

2
1
3
0

33.  Create a function which returns the length of a string, without using len().

Examples
length("Hello World") ➞ 11

length("Edabit") ➞ 6

length("wash your hands!") ➞ 16

In [36]:
def length(s):
    count = 0
    for char in s:
        count += 1
    return count


print(length("Hello World"))     
print(length("Edabit"))         
print(length("wash your hands!"))

11
6
16

34. Given a letter and a list of words, return whether the letter does not appear in any of the words.

Examples

forbidden_letter("r", ["rock", "paper", "scissors"]) ➞ False

forbidden_letter("a", ["spoon", "fork", "knife"]) ➞ True

forbidden_letter("m", []) ➞ True

In [38]:
def forbidden_letter(letter, words):
    for word in words:
        if letter in word:
            return False
    return True


print(forbidden_letter("r", ["rock", "paper", "scissors"])) 
print(forbidden_letter("a", ["spoon", "fork", "knife"]))     
print(forbidden_letter("m", []))

False
True
True

 35 .Create a function that takes a 2D list lst and returns the sum of the minimum value in each row.

Examples
sum_minimums([
  [1, 2, 3, 4, 5],
  [5, 6, 7, 8, 9],
  [20, 21, 34, 56, 100]
]) ➞ 26

 minimum value of the first row is 1
minimum value of the second row is 5
 minimum value of the third row is 20

In [40]:
def sum_minimums(lst):
    total_sum = 0
    for row in lst:
        min_value = row[0]  # Initialize min_value with the first element of the row
        for num in row:
            if num < min_value:
                min_value = num
        total_sum += min_value
    return total_sum


print(sum_minimums([[1, 2, 3, 4, 5], [5, 6, 7, 8, 9], [20, 21, 34, 56, 100]]))

26

36. Create a function that finds each factor of a given number n. Your solution should return a list of the number(s) that meet this criteria.

Examples
find_factors(9) ➞ [1, 3, 9]
#has three factors 1, 3 and 9

find_factors(12) ➞ [1, 2, 3, 4, 6, 12]

find_factors(20) ➞ [1, 2, 4, 5, 10, 20]

fi 0 has no factors

In [41]:
def find_factors(n):
    factors = []
    for i in range(1, n + 1):
        if n % i == 0:
            factors.append(i)
    return factors


print(find_factors(9))  
print(find_factors(12)) 
print(find_factors(20))

[1, 3, 9]
[1, 2, 3, 4, 6, 12]
[1, 2, 4, 5, 10, 20]

37 .Given a string, create a function to reverse the case. All lower-cased letters should be upper-cased, and vice versa.

Examples
reverse_case("Happy Birthday") ➞ "hAPPY bIRTHDAY"

reverse_case("MANY THANKS") ➞ "many thanks"

reverse_case("sPoNtAnEoUs") ➞ "SpOnTaNeOuS"

In [43]:
def reverse_case(input_string):
    reversed_string = ""
    for char in input_string:
        if char.islower():
            reversed_string += char.upper()
        elif char.isupper():
            reversed_string += char.lower()
        else:
            reversed_string += char
    return reversed_string

print(reverse_case("Happy Birthday")) 
print(reverse_case("MANY THANKS"))  
print(reverse_case("sPoNtAnEoUs"))

hAPPY bIRTHDAY
many thanks
SpOnTaNeOuS

  38.Write a Python program to print all the numbers from 1 to 10.

python

In [44]:
# Answer 1
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

39. Write a Python program to find the sum of all numbers from 1 to 100.

In [45]:

sum_numbers = 0
for i in range(1, 101):
    sum_numbers += i
print(sum_numbers)

5050

40. Write a Python program to print the multiplication table of a given number.

In [46]:

num = 7
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

41. Write a Python program to find the factorial of a given number.

In [47]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

print(factorial(5))

120

42.Write a Python program to check if a given number is prime.

In [48]:

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(13))

True

43.Write a Python program to print the Fibonacci series up to a given number.

In [49]:
def fibonacci(n):
    a, b = 0, 1
    while a <= n:
        print(a, end=" ")
        a, b = b, a + b

fibonacci(100)

0 1 1 2 3 5 8 13 21 34 55 89

44. Write a Python program to count the number of even and odd numbers in a given list.

In [52]:
numbers = [12, 7, 23, 8, 14, 9, 6]
even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Even numbers:", even_count)
print("Odd numbers:", odd_count)

Even numbers: 4
Odd numbers: 3

45.Write a Python program to find the largest element in a given list.

In [53]:
numbers = [15, 6, 27, 42, 18]
largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print("Largest element:", largest)

Largest element: 42

46. Write a Python program to check if a given string is a palindrome.

In [54]:
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    return s == s[::-1]

print(is_palindrome("level"))

True

47. Write a Python program to find the common elements between two lists.

In [56]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []

for num in list1:
    if num in list2:
        common_elements.append(num)

print(common_elements)

[3, 4, 5]

48.Write a Python program to print the following pattern:

In [58]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

49.Write a Python program to find the GCD (Greatest Common Divisor) of two numbers.

In [59]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print(gcd(48, 18))

6

50.Write a Python program to find the factorial of a given number using recursion.

In [60]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))

120