In [1]:
import regex as re

In [2]:
text = '''terribleSnail
abc123
condemnedInstructor
messsage
keep_it_simple_stupid
Zoran L Fang
myUsername210
abc
asdf
joshy
Hank Lazowska
123feralHog
Red Panda5
1
abc1
DIRT
*star*
oshie poshy
0shie p0shy
OSHIE POSHY
O Posh
Oshie poshy
oshie Poshy'''

#### Write the command that finds all usernames from names.txt that contain at least one numeric character.

In [49]:
re.findall(r'\w*\d\w*',text)

['abc123',
 'myUsername210',
 '123feralHog',
 'Panda5',
 '1',
 'abc1',
 '0shie',
 'p0shy']

#### Write the command that finds all usernames from names.txt that are exactly 4 characters long and consist only of alphabetic characters.

In [56]:
re.findall(r'\b[a-zA-Z]{4}\n',text)

['Fang\n', 'asdf\n', 'DIRT\n', 'Posh\n']

#### Write the command that finds all first and last names in names.txt. A name is an uppercase letter followed by one or more lowercase letters and first and last names are separated by a single space. Your command should not match against names that contain a middle name or initials.

In [59]:
re.findall(r'\b[A-Z][a-z]+ [A-Z][a-z]+\b',text)

['Hank Lazowska']

In [37]:
email_id ='''jle@uw.edu
k@gmailcom
hissingDonkey567@yahoo.com
342highground@council.com
aszotatgmail.co
hopkins@apple.COM
justchilling@cedarrapids|com
perkins8@uw.com
colorfulcupcake
fungfangfaang@agar.io
joshmyrealemail@imake.tools
asuperduperuberlongemail@miles.long'''

#### 'As part of account creation, customers must provide a valid email address. Write a command that prints out all valid email addresses from emails.txt. For the purposes of this assignment, we will use a simplified version of a valid email address, which is defined as follows:
Between 1 and 16 lowercase letters, uppercase letters, or digits\
An @ symbol\
A domain (e.g., gmail) that consists of any number of lowercase letters\
A period\
A tld (top level domain, e.g., .com) that consists of 2 or more lowercase letters\
You may assume that emails.txt contains one email per line.
'

In [57]:
re.findall(r'\b\w{1,16}@[a-z]+\.[a-z]{2,}\b+',email_id)

['jle@uw.edu',
 'hissingDonkey567@yahoo.com',
 '342highground@council.com',
 'perkins8@uw.com',
 'fungfangfaang@agar.io',
 'joshmyrealemail@imake.tools']

Customers also must choose a strong password when creating an account. Write a command that prints out all valid passwords in the file passwords.txt. A valid password at FAANG is defined as follows:\
It must be at least 8 characters long\
Must contain at least one uppercase character\
Must contain at least one lowercase character\
Must contain at least one digit.\
You may assume that passwords.txt contains one password per line.

In [61]:
password =''' missingAnyNumbers
0123456
01234567
alllowercase
ALLUPPERCASE
Apples42
orangE17
1cupCake
asdf
720
glhf56
210afk '''

In [67]:
re.findall(r'\b(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}\b',password)

['Apples42', 'orangE17', '1cupCake']

`The format of these cards are as follows:\
Master Card\
Begins with a 5\
Exactly 16 digits long, grouped into sets of 4 separated by a space\
Visa\
Begins with a 4\
Between 13 and 16 digits long, grouped into sets of 4 (last may be shorter) separated by a space\
You may assume that cards.txt contains one credit card per line.

In [81]:
cards = '''5123 4567 8910 1112
5123456789101112
3908 0978 0890 7890
4789 2784 8910 8290
4989 9321 1230 9
5419 2933 1839 17
4740 1839 1281
4789 0870 8908 70987
58907890782309171
5192 9295 91828818
4182 2884 1232 9582 2182'''

In [85]:
re.findall(r'\b5\d{,3}\s\d{,4}\s\d{,4}\s\d{,4}',cards)

['5123 4567 8910 1112', '5419 2933 1839 17']

In [90]:
re.findall(r'4\d{3}(?:\s\d{4}){2,3}\b',cards)

['4567 8910 1112',
 '4789 2784 8910 8290',
 '4989 9321 1230',
 '4740 1839 1281\n4789',
 '4182 2884 1232 9582']

#### Print all of the DNA sequences in the file (all of the non-names).

In [87]:
dna = '''Simple Protein-Coding Gene
ATGCCACTATGGTAG
Upper and Lowercase Protein
ATgCCAACATGgATGCCcGATAtGGATTgA
Valid Gene
ATGCGACCCTAGTAG
Invalid Gene
ATGCGACCCTAGTAGGG
Another Protein-Coding Gene
ATGACCGACTCAGTATAA
Yet-Another Protein-Coding Gene
ATGATCGACTACGATTAG
Yet-Again-Another Protein-Coding Gene
ATGATTGGGCCCGCTTAGTAGTGA
Invalid Protein-Coding Gene
ATGACCGACTCAGTAAAT
Another Invalid Protein-Coding Gene
ATGACCGACTAG
Yet-Another Invalid Protein-Coding Gene
AGGATTGGGCCCGCTTAGTAGTGA
Feline-Encoding DNA
CATCATCATCATCATCATCATCATCATCAT
Palindrome DNA
ACTTCA
First And Last DNA
TAGACGTACCTTAG'''

### Print all of the DNA sequences in the file (all of the non-names).

In [94]:
re.findall(r'\b[A|C|T|G]+\b',dna)

['ATGCCACTATGGTAG',
 'ATGCGACCCTAGTAG',
 'ATGCGACCCTAGTAGGG',
 'ATGACCGACTCAGTATAA',
 'ATGATCGACTACGATTAG',
 'ATGATTGGGCCCGCTTAGTAGTGA',
 'ATGACCGACTCAGTAAAT',
 'ATGACCGACTAG',
 'AGGATTGGGCCCGCTTAGTAGTGA',
 'CATCATCATCATCATCATCATCATCATCAT',
 'ACTTCA',
 'TAGACGTACCTTAG']

#### Print all of the names of DNA sequences in the file.

In [99]:
re.findall(r'^[a-zA-Z0-9]+$',dna,re.MULTILINE)

['ATGCCACTATGGTAG',
 'ATgCCAACATGgATGCCcGATAtGGATTgA',
 'ATGCGACCCTAGTAG',
 'ATGCGACCCTAGTAGGG',
 'ATGACCGACTCAGTATAA',
 'ATGATCGACTACGATTAG',
 'ATGATTGGGCCCGCTTAGTAGTGA',
 'ATGACCGACTCAGTAAAT',
 'ATGACCGACTAG',
 'AGGATTGGGCCCGCTTAGTAGTGA',
 'CATCATCATCATCATCATCATCATCATCAT',
 'ACTTCA',
 'TAGACGTACCTTAG']